body {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;

}
.status{
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    text-align: center;
}
table {
    border-collapse: collapse;
    background-color: #fff;

}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 36px;
    cursor: pointer;
    background-color: #fff;

}
.buttons-container {
    display: flex;
    justify-content: center; /* ממרכז את הכפתורים */
    align-items: center; /* יישור גבוהות */
}

.btn-restart-game, 
.btn-start-with-friend, 
.btn-start-with-computer {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 5px;
    margin-right: 10px; /* רווח בין הכפתורים */
    height: 35px;
    width: 200px;
}

/* מבטל את המרווח האחרון מהכפתור האחרון במכלול */
.btn-start-with-computer {
    margin-right: 0;
}
